# Dependencies
node_modules/
.pnp
.pnp.js
.venv/
venv/

# Build & Cache
.next/
out/
build/
dist/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local SQLite Database Files
data/*.db
data/*.db-*
data/*.sqlite

# Archives
*.zip
*.tar.gz

